.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/NN-001_copy.png")}
.u-section-1 .u-sheet-1 {min-height: 1178px}
.u-section-1 .u-group-1 {width: 849px; min-height: 276px; margin: 401px auto 0}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {margin-top: 0; background-image: none; margin-bottom: 0; font-size: 3rem}
.u-section-1 .u-layout-wrap-1 {margin: 8px auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 400px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-icon-1 {height: 204px; width: 204px; background-image: none; background-size: auto; margin: 0 auto}
.u-section-1 .u-text-2 {text-shadow: 8px 2px 8px rgba(0,0,0,1); background-size: auto; margin: 21px 25px 0}
.u-section-1 .u-layout-cell-2 {min-height: 400px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-icon-2 {height: 204px; width: 204px; background-image: none; margin: 0 auto}
.u-section-1 .u-text-3 {text-shadow: 8px 2px 8px rgba(0,0,0,1); margin: 20px 28px 0}
.u-section-1 .u-layout-cell-3 {min-height: 400px; background-size: auto}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-icon-3 {height: 204px; width: 204px; background-image: none; background-size: auto; margin: 87px 44px 0 auto}
.u-section-1 .u-text-4 {width: 264px; text-shadow: 8px 2px 8px rgba(0,0,0,1); background-size: auto; margin: 20px auto 0 28px}
.u-section-1 .u-text-5 {font-style: italic; text-shadow: 2px 2px 8px rgba(255,255,255,1); margin: -10px 0 47px} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 555px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 330px}
.u-section-1 .u-icon-1 {margin-left: 132px}
.u-section-1 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-1 .u-layout-cell-2 {min-height: 330px}
.u-section-1 .u-icon-2 {margin-left: 125px}
.u-section-1 .u-text-3 {margin-right: 0; margin-left: 0}
.u-section-1 .u-layout-cell-3 {min-height: 330px}
.u-section-1 .u-text-4 {width: 253px; margin-left: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 325px}
.u-section-1 .u-group-1 {width: 720px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-icon-1 {margin-left: 96px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-icon-2 {margin-left: 96px}
.u-section-1 .u-layout-cell-3 {min-height: 100px}
.u-section-1 .u-icon-3 {height: 180px; width: 180px; margin-right: 0}
.u-section-1 .u-text-4 {width: 180px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 425px}
.u-section-1 .u-group-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-group-1 {min-height: 325px; margin-top: 87px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin-left: -10px; margin-right: -10px}
.u-section-1 .u-layout-wrap-1 {margin-top: 28px; margin-right: initial; margin-left: initial}
.u-section-1 .u-icon-1 {margin-top: 87px; margin-left: 56px}
.u-section-1 .u-icon-2 {margin-top: 75px; margin-left: auto}
.u-section-1 .u-icon-3 {height: 204px; width: 204px; margin-top: 56px; margin-right: auto}
.u-section-1 .u-text-5 {width: auto; margin: 20px 2px 60px -2px} }.u-section-2 {margin-top: 0; margin-bottom: 0; background-image: none}
.u-section-2 .u-sheet-1 {min-height: 351px}
.u-section-2 .u-text-1 {width: 699px; margin: 60px auto 0}
.u-section-2 .u-text-2 {font-size: 1.25rem; margin: 20px auto 0 0}
.u-section-2 .u-btn-1 {border-style: solid; font-size: 0.875rem; margin: 20px auto 54px} 

@media (max-width: 767px){ .u-section-2 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {width: 340px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 383px}
.u-section-3 .u-layout-wrap-1 {width: 1277px; margin: 1px auto 1px -62px}
.u-section-3 .u-layout-cell-1 {min-height: 382px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {height: 360px; margin: -5px auto -5px 0}
.u-section-3 .u-layout-cell-2 {min-height: 382px; background-image: linear-gradient(#7d220d, #4c637f)}
.u-section-3 .u-container-layout-2 {padding: 30px 75px 0 30px}
.u-section-3 .u-custom-html-1 {min-height: 370px; margin: -5px -1px 0 44px}
.u-section-3 .u-layout-cell-3 {min-height: 382px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-image-2 {height: 360px; margin: -10px auto -10px -30px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 430px}
.u-section-3 .u-layout-wrap-1 {position: relative; width: 940px; margin-left: 0}
.u-section-3 .u-layout-cell-1 {min-height: 281px}
.u-section-3 .u-image-1 {height: 250px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-2 {min-height: 281px}
.u-section-3 .u-custom-html-1 {width: 160px; margin-left: 0; margin-right: 0; height: auto}
.u-section-3 .u-layout-cell-3 {min-height: 281px}
.u-section-3 .u-image-2 {height: 250px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 353px}
.u-section-3 .u-layout-wrap-1 {width: 720px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-image-1 {height: 178px; margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-right: 30px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-image-2 {height: 178px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1238px}
.u-section-3 .u-layout-wrap-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {height: 514px; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-2 {height: 514px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 816px}
.u-section-3 .u-layout-wrap-1 {width: 340px}
.u-section-3 .u-image-1 {height: 316px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-2 {height: 316px; margin-right: initial; margin-left: initial} }.u-section-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/83764869_2724308637792428_3120392876979126272_n.jpg"); background-position: 50% 50%; margin-top: 0; margin-bottom: 0}
.u-section-4 .u-sheet-1 {min-height: 334px}
.u-section-4 .u-layout-wrap-1 {width: 1068px; margin: 82px auto 20px 36px}
.u-section-4 .u-layout-cell-1 {min-height: 232px; background-image: none}
.u-section-4 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-text-1 {font-weight: 700; margin: 25px 0 0}
.u-section-4 .u-text-2 {letter-spacing: 2px; font-weight: 700; margin: 20px 0 25px}
.u-section-4 .u-layout-cell-2 {min-height: 232px; background-image: none}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-text-3 {font-weight: 700; margin: 25px 0 0}
.u-section-4 .u-text-4 {letter-spacing: 2px; font-weight: 700; margin: 20px 0 25px}
.u-section-4 .u-layout-cell-3 {min-height: 232px; background-image: none}
.u-section-4 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-text-5 {font-weight: 700; margin: 25px 0 0}
.u-section-4 .u-text-6 {letter-spacing: 2px; font-weight: 700; margin: 20px 0 25px}
.u-section-4 .u-layout-cell-4 {min-height: 232px; background-image: none}
.u-section-4 .u-container-layout-4 {padding-left: 30px; padding-right: 30px}
.u-section-4 .u-text-7 {font-weight: 700; margin: 25px 0 0}
.u-section-4 .u-text-8 {letter-spacing: 2px; font-weight: 700; margin: 20px 0 25px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 264px}
.u-section-4 .u-layout-wrap-1 {width: 881px; margin-left: 30px; margin-right: 30px}
.u-section-4 .u-container-layout-1 {padding-left: 25px; padding-right: 25px}
.u-section-4 .u-container-layout-2 {padding-left: 25px; padding-right: 25px}
.u-section-4 .u-container-layout-3 {padding-left: 25px; padding-right: 25px}
.u-section-4 .u-container-layout-4 {padding-left: 25px; padding-right: 25px} }

@media (max-width: 991px){ .u-section-4 .u-layout-wrap-1 {width: 675px; margin-left: 23px; margin-right: 23px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-container-layout-1 {padding-left: 19px; padding-right: 19px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-container-layout-2 {padding-left: 19px; padding-right: 19px}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-container-layout-3 {padding-left: 19px; padding-right: 19px}
.u-section-4 .u-layout-cell-4 {min-height: 100px}
.u-section-4 .u-container-layout-4 {padding-left: 19px; padding-right: 19px} }

@media (max-width: 767px){ .u-section-4 .u-layout-wrap-1 {width: 506px; margin-bottom: 56px; margin-left: 17px; margin-right: 17px}
.u-section-4 .u-container-layout-1 {padding-left: 14px; padding-right: 14px}
.u-section-4 .u-container-layout-2 {padding-left: 14px; padding-right: 14px}
.u-section-4 .u-text-3 {position: relative}
.u-section-4 .u-text-4 {position: relative}
.u-section-4 .u-container-layout-3 {padding-left: 14px; padding-right: 14px}
.u-section-4 .u-container-layout-4 {padding-left: 14px; padding-right: 14px} }

@media (max-width: 575px){ .u-section-4 .u-layout-wrap-1 {width: 319px; margin-bottom: 22px; margin-left: 11px; margin-right: 11px}
.u-section-4 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-4 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-4 .u-container-layout-3 {padding-left: 9px; padding-right: 9px}
.u-section-4 .u-container-layout-4 {padding-left: 9px; padding-right: 9px} }.u-section-5 {margin-top: 0; margin-bottom: 0}
.u-section-5 .u-sheet-1 {min-height: 599px}
.u-section-5 .u-group-1 {width: 570px; min-height: 71px; margin: 26px auto 0 0}
.u-section-5 .u-container-layout-1 {padding-bottom: 0; padding-top: 0}
.u-section-5 .u-text-1 {font-weight: 700; margin: 6px 20px 0}
.u-section-5 .u-layout-wrap-1 {margin: 26px auto 0 0}
.u-section-5 .u-image-1 {background-image: url("images/_MG_43272.jpg"); min-height: 166px; background-position: 50% 50%}
.u-section-5 .u-layout-cell-2 {min-height: 330px}
.u-section-5 .u-container-layout-3 {padding-right: 20px}
.u-section-5 .u-text-2 {margin: 20px 0 0 20px}
.u-section-5 .u-layout-cell-3 {min-height: 496px}
.u-section-5 .u-container-layout-4 {padding-left: 20px; padding-right: 20px}
.u-section-5 .u-text-3 {margin: 38px 0 0 -20px}
.u-section-5 .u-image-2 {background-image: url("images/49948377817_2d12524ee6_k.jpg"); min-height: 166px; background-position: 50% 50%}
.u-section-5 .u-layout-cell-5 {min-height: 330px}
.u-section-5 .u-text-4 {margin: 20px 20px 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 886px}
.u-section-5 .u-group-1 {width: 470px}
.u-section-5 .u-text-1 {position: relative; margin-top: 20px; margin-left: 16px; margin-right: 16px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-image-1 {min-height: 199px}
.u-section-5 .u-layout-cell-2 {min-height: 444px}
.u-section-5 .u-container-layout-3 {padding-right: 16px}
.u-section-5 .u-text-2 {position: relative; margin-left: 16px}
.u-section-5 .u-layout-cell-3 {min-height: 327px}
.u-section-5 .u-container-layout-4 {padding-left: 16px; padding-right: 16px}
.u-section-5 .u-text-3 {margin-left: 0; position: relative}
.u-section-5 .u-image-2 {min-height: 215px}
.u-section-5 .u-layout-cell-5 {min-height: 428px}
.u-section-5 .u-text-4 {position: relative; margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-5 .u-group-1 {width: 360px}
.u-section-5 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-container-layout-3 {padding-right: 13px}
.u-section-5 .u-text-2 {margin-left: 13px}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-container-layout-4 {padding-left: 13px; padding-right: 13px}
.u-section-5 .u-layout-cell-5 {min-height: 100px}
.u-section-5 .u-text-4 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-5 .u-group-1 {width: 338px}
.u-section-5 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-5 .u-container-layout-3 {padding-right: 9px}
.u-section-5 .u-text-2 {margin-left: 9px}
.u-section-5 .u-container-layout-4 {padding-left: 9px; padding-right: 9px}
.u-section-5 .u-text-4 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-5 .u-group-1 {width: 283px}
.u-section-5 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-5 .u-container-layout-3 {padding-right: 6px}
.u-section-5 .u-text-2 {margin-left: 6px}
.u-section-5 .u-container-layout-4 {padding-left: 6px; padding-right: 6px}
.u-section-5 .u-text-4 {margin-left: 6px; margin-right: 6px} }.u-section-6 {background-image: none; min-height: 689px}
.u-section-6 .u-group-1 {min-height: 399px; margin: 0 auto 60px 0}
.u-section-6 .u-container-layout-1 {padding: 50px 30px 30px}
.u-section-6 .u-text-1 {width: 828px; margin: 0 auto} 

@media (max-width: 1199px){ .u-section-6 {min-height: 623px}
.u-section-6 .u-group-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-6 {min-height: 1025px}
.u-section-6 .u-text-1 {width: 660px} }

@media (max-width: 767px){ .u-section-6 .u-container-layout-1 {padding-top: 30px; padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-1 {width: 520px} }

@media (max-width: 575px){ .u-section-6 {min-height: 1785px}
.u-section-6 .u-group-1 {min-height: 363px; margin-right: initial; margin-left: initial}
.u-section-6 .u-text-1 {width: 320px; margin-top: 21px} }